@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding :0;
    margin :0;
}

body {
    background-color:black;
    color: #f6f6f6;

    box-sizing: border-box;
}


.titulo-destaque{
    color:aqua;
}

.presentacion{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin:10%;
}

.presentacion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap:40px
}

.presentacion_contenido_titulo{
    font-size: 36px ;
    font-family: "Krona One", serif;
}

.presentacion__contenido_texto{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion_enlaces{
    display:flex;
    
    flex-direction: column;
    align-items: center;
    margin:15px

}

.presentacion_enlaces_link{
    width : 380px;
    display: flex;
    text-align: center;
    padding: 21.5px 21.5px; 
    margin:25px;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    font-weight: 600px;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid #22D4FD;
    
    justify-content: center;
    gap:10px
}

.presentacion_enlaces_link:hover{
    background-color: #272727;
}
.presentacion__enlaces_subtitulo{
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 400px;
    align-items:flex-start;
    
}

.footer{
    background-color: #22D4FD;
    padding: 24px;
    color:black;
    text-align: center;


}